@model DotRacesAdministration.Models.SettingSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SettingSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultSetFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultSetFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotentialHighScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotentialHighScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotentialLowScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotentialLowScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsPerRound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsPerRound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRacesText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRacesText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRacesAdjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRacesAdjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastRaceMultiplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRaceMultiplier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SettingSetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
