@model IEnumerable<DotRacesAdministration.Models.SettingSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultSetFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PotentialHighScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PotentialLowScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsPerRound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRacesText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRacesAdjective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastRaceMultiplier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultSetFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PotentialHighScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PotentialLowScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsPerRound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRacesText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRacesAdjective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastRaceMultiplier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SettingSetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SettingSetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SettingSetID })
        </td>
    </tr>
}

</table>
