@model DotRacesAdministration.Models.Race

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Race</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound1ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound1ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound2ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound3ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound3ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound4ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound4ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound5ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound5ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound6ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound6ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound7ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound7ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound8ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound8ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound9ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound9ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound10ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound10ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound11ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound11ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound12ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound12ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound13ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound13ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound14ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound14ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound15ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound15ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound16ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound16ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
