@model IEnumerable<DotRacesAdministration.Models.Separator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentVersion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentVersion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeparatorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeparatorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeparatorID })
        </td>
    </tr>
}

</table>
